*~
*.pyc
src/*.pyc
src/matcher/static
src/*.dot
generated/*
src/html
eggs
src/matcher.egg-info
develop-eggs
parts
bin
src/matcher.egg-info
.installed.cfg
reports/*
PyLint.html
build/*
cover/*
.coverage
.project
.pydevproject
.pydevproject.bak
